@import '../import';

@mixin avatarSize($size)
{
    .avatar
    {
        width: $size;
        height: $size;

        img
        {
            width: $size;
            height: $size;
        }

        i
        {
            font-size: $size;
        }
    }
}

.page-donators
{
    .topBar
    {
        .sidebar-switcher { display: none; }
        .action--donate { display: none; }
    }

    .no-sponsors
    {
        margin: 75px auto;

        display: flex;
        align-items: center;
        justify-content: center;

        color: $c_TextMuted;
        font-size: 150%;
        text-align: justify;

        i
        {
            font-size: 100px;
            margin-right: $structureGap * 1.5;
        }

        @include layout(small)
        {
            flex-direction: column;
            font-size: 120%;
            text-align: left;

            i
            {
                margin-right: 0;
                margin-bottom: $structureGap;
            }
        }

        @include layout(mini)
        {
            font-size: 100%;
            text-align: center;
        }
    }

    .donators
    {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 50px;
        margin-bottom: 80px;

        &:not(:first-of-type)
        {
            margin-top: 75px;
        }

        h2
        {
            font-family: Yandex;
            font-size: 200%;
            margin-bottom: $structureGap * 2;
        }

        .donators-grid .donator
        {
            display: flex;
            align-items: center;

            .avatar
            {
                display: flex;
                align-items: center;
                justify-content: center;

                margin-right: $structureGap / 1.5;

                img
                {
                    display: block;
                    border-radius: $borderRadius;
                }
            }

            .info
            {
                display: flex;
                flex-direction: column;

                .name
                {
                    text-decoration: none;

                    &[href]:hover
                    {
                        text-decoration: underline;
                    }
                }

                .slogan
                {
                    color: $c_TextMuted;
                    max-width: 400px;
                }
            }

            @include layout(small)
            {
                flex-direction: column;

                .avatar
                {
                    margin-right: 0;
                    margin-bottom: $structureGap / 2;
                }

                .info
                {
                    text-align: center;
                }
            }
        }

        //
        // Grid cells rules
        //

        &--tier3 .donators-grid .donator
        {
            @include avatarSize(60px);
            .name { font-size: 120%; }
        }

        &--tier2 .donators-grid .donator
        {
            @include avatarSize(48px);
            .name { font-size: 120%; }
            .slogan { display: none; }
        }

        &--tier1 .donators-grid .donator
        {
            justify-content: center;

            .name { font-size: 110%; }
            .avatar { display: none; }
            .slogan { display: none; }
        }

        //
        // Grid general layout
        //

        .donators-grid
        {
            display: grid;
            gap: $structureGap $structureGap * 3;
        }
        
        &--tier3 .donators-grid
        {
            grid-template-columns: 1fr;
            row-gap: $structureGap * 2;

            @include layout(small)
            {
                row-gap: $structureGap * 3;
            }
        }

        &--tier2 .donators-grid
        {
            grid-template-columns: 1fr 1fr;
            row-gap: $structureGap * 2;

            @include layout(small)
            {
                grid-template-columns: 1fr;
            }
        }

        &--tier1 .donators-grid
        {
            grid-template-columns: 1fr 1fr 1fr;

            @include layout(small)
            {
                grid-template-columns: 1fr 1fr;
            }

            @include layout(mini)
            {
                grid-template-columns: 1fr;
            }
        }

    }
}