h1
    span.paragraph-num §#{counter}
    span.title=title
    
    if optional
        span.tag.tag--optional(title="Дополнительный параграф. Можно пропустить... Но не стоит!")
            i.fa.fa-code-branch.fa-flip-vertical