doctype html
html(lang="ru")

    head
        include includes/head/head
        link(rel="stylesheet", href=_.url + 'styles/article.min.css')
        script(src=_.url + 'scripts/article.min.js')

    body.page-article
        p Тест